.blank10{
    height: 10px;
    clear: both;
    overflow: hidden;
    visibility: visible;
    background: #F4F4F4;
}
.clearfloat{
    zoom:1;
}
.clearfloat:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.hide{
    display: none;
}


.mint-navbar {
    height: 40px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.mint-tab-item{
    padding: 10px 0;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-decoration: none;
    color: #7e8c8d;
    text-align: center;
}

.mint-navbar .mint-tab-item.is-selected {
    color: #F29200;
}

.mint-tab-item-label {
    font-size: 14px;
    line-height: 20px;
    border-right: 1px solid #f2f2f2;
}

.mint-tab-item:last-child .mint-tab-item-label{
    border-right: none;
}

.mint-tab-container{
    width: 100%;
    position: absolute;
    width: 100%;
    top: 50px;
}

.mint-tab-container-wrap{
    display: flex;
}

.mint-tab-container-item {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    flex-shrink: 0;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .msg{
    background: #fff;
    font-size: 14px;
    padding: 22px 16px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .msg .msg-item{
    line-height: 20px;
    margin-bottom: 16px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .msg .msg-item .left{
    color: #333;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .msg .msg-item .right{
    color: #999;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .des{
    background: #fff;
    font-size: 14px;
    padding: 22px 16px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .des .des-title{
    color: #333;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 31px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .des .des-con .des-item{
    margin-bottom: 31px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .des .des-con .des-item .title{
    font-size: 14px;
    color: #535353;
    line-height: 26px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .des .des-con .des-item .des-detail{
    line-height: 26px;
    color: #878787;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .agreement{
    background: #fff;
    font-size: 14px;
    padding: 22px 16px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .agreement .agr-title{
    color: #333;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 31px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .agreement .agr-con .agr-item .title{
    font-size: 14px;
    color: #535353;
    line-height: 26px;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .agreement .agr-con .agr-item .agr-detail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .agreement .agr-con .agr-item .agr-detail .detail-item{
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.3%;
    flex: 0 1 33.3%;
    margin: 5px 0;
}

.mint-tab-container .mint-tab-container-item .msg-box .target-msg .agreement .agr-con .agr-item .agr-detail .detail-item img{
    width: 92%;
    margin: 0 4%;
}

.mint-tab-container .mint-tab-container-item .log-list .log-item{
    height: 44px;
    font-size: 14px;
    color: #999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    line-height: 44px;
    position: relative;
}

.mint-tab-container .mint-tab-container-item .log-list .log-item:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d2d2d2;
    content: ' ';
}

.mint-tab-container .mint-tab-container-item .log-list .log-item .name {
    display: inline-block;
}

.mint-tab-container .mint-tab-container-item .log-list .log-item .number {
    display: inline-block;
    color: #F29200;
}

.mint-tab-container .mint-tab-container-item .log-list .log-item .date{
    display: inline-block;
}

.mint-tab-container .mint-tab-container-item .control{
    background: #fff;
    font-size: 14px;
    padding: 22px 16px;
}

.mint-tab-container .mint-tab-container-item .control .control-title{
    color: #333;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 31px;
}

.mint-tab-container .mint-tab-container-item .control .control-con .control-item {
    margin-bottom: 31px;
}

.mint-tab-container .mint-tab-container-item .control .control-con .control-item .title {
    font-size: 14px;
    color: #535353;
    line-height: 26px;
}

.mint-tab-container .mint-tab-container-item .control .control-con .control-item .control-detail {
    line-height: 26px;
    color: #878787;
}

@media (-webkit-min-device-pixel-ratio: 2), not all
.border-1px-scale:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

@media (-webkit-min-device-pixel-ratio: 1.5), not all
.border-1px-scale::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
}

@media (-webkit-min-device-pixel-ratio: 2), not all
.border-1px-scale:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}



.con{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #F4F4F4;
}

.detail-box{
    display: none;
}

.mint-cell {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    min-height: 48px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.mint-cell-mask::after {
    background-color: #000;
    content: " ";
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.mint-cell-left {
    position: absolute;
    height: 100%;
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.mint-cell-wrapper {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), color-stop(50%, #d9d9d9), color-stop(50%, transparent));
    background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 120% 0.026667rem;
    background-repeat: no-repeat;
    background-position: top left;
    background-origin: content-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 1;
    min-height: inherit;
    overflow: hidden;
    padding: 0 15px;
    width: 100%;
}

.mint-cell-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mint-cell-text {
    vertical-align: middle;
}

.mint-cell-value.is-link {
    margin-right: 0.64rem;
}

.mint-cell-value {
    color: #888;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mint-cell-allow-right::after {
    border: solid 0.053333rem #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 50%;
    right: 20px;
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.mint-cell.clicked .mint-cell-allow-right::after{
    -webkit-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);
}

.mint-cell-right {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.con .que-item .item-con.show {
    display: block;
}
.con .que-item .item-con {
    padding: 0 20px 14px;
    background: #fff;
    color: #878787;
    font-size: 14px;
    line-height: 26px;
    display: none;
}

.con .que-item .item-con span {
    float: left;
}

.con .que-item .item-con p {
    padding-left: 22px;
}

.company-des{
    background: #fff;
    padding: 12px 16px;
}

.company-des  p{
    text-indent: 2em;
    font-size: 14px;
    line-height: 26px;
    color: #666;
}

.contact-con .item{
    background: #fff;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 25px;
}

.contact-con .item .title {
    color: #535353;
}

.contact-con .item .item-con {
    color: #878787;
    text-indent: 1em;
}

.contact-con .item .item-con .phone{
    color: #1A539B;
}

.contact-con .work {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.contact-con .item .item-img img{
    width: 100%;
}